<!DOCTYPE html>
<html>
<head>
	<title>View File</title>
    <style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
		}

		h1 {
			font-size: 32px;
			text-align: center;
			margin-top: 50px;
		}

		pre {
			background-color: #fff;
			padding: 20px;
			border-radius: 25px;
			box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
			margin: 30px auto;
			max-width: 800px;
			overflow-x: scroll;
            font-size: 20px;
		}
	</style>
</head>
<body>
	<h1>File Content</h1>
	<pre>{{ file_content }}</pre>
</body>
</html>
